/* profile.css */
body {
    font-family: 'Chirp', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

.profile-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.profile-recipe-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.profile-recipe-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:cadetblue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
    transition-property: all;
}

.profile-recipe-card a {
    display: block;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
}

.profile-recipe-card button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-recipe-card button:hover {
    background-color: #c82333;
}
.buttons {
    text-align: center;
    margin-top: 20px;
}

.page-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 20px;
    padding: 0 0;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-shrink: 0;

}
input,form{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 0;
}
.footer-btn{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}
.footer-btn a{

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 0;
}
.page-link:hover {
    background-color: #0056b3;
}
/* Responsive styles */
@media (max-width: 768px) {
    .profile-recipe-card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .profile-recipe-card {
        padding: 10px;
    }

    .profile-recipe-card a {
        font-size: 16px;
    }

    .profile-recipe-card button {
        padding: 8px 16px;
    }

    .page-link {
        padding: 8px 16px;
        margin: 3px;
    }
}
